body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body.login-signup {
  background-image: url("../assets/login_bg.png"); /* Updated image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; /* reduced padding */
  background-color: #ffffff;
  border-bottom: 2px solid #770808;
  height: auto; /* let content determine height */
}

.logo {
  height: 30px; /* reduced logo height for a smaller header */
  width: auto;
}

.search-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-button {
  background-color: #64056d;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cart-button:hover {
  background-color: #f6f4f7;
}

.login-container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 8px rgb(245, 243, 243);
  border-radius: 10px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
  padding: 5px 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* .login-button {
  width: 100%;
  padding: 10px;
  background-color: #08010c;
  display: flex;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.login-button:hover {
  background-color: #4e0570;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #888;
}
